<!doctype>
<html>
  <head>
    <title>Rock Paper Scissors Lizard Spock</title>
    <style>
    body {
      font-family: 'Helvetica Neue';
      margin: 15px 0 0 30px;
    }
    .choices img {
      width: 80px;
      margin-right: 30px;
    }
    </style>
  </head>
  <body>
    <button id="helloBtn">Hello there </button>
    <h1>Rock Paper Scissors Lizard Spock</h1>
    <div class='choices'>
      <img src="images/rock.png" data-name="rock">
      <img src="images/paper.png" data-name="paper">
      <img src="images/scissors.png" data-name="scissors">
      <img src="images/lizard.png" data-name="lizard">
      <img src="images/spock.png" data-name="spock">
    </div>
    <h4>My Choice: </h4>
    <h3 id="mychoice"></h3>
    <h3 id="yourchoice"></h3>
    <h3 id="result"></h3>

    <script type="text/javascript" src='http://code.jquery.com/jquery-2.0.3.js'></script>
    <script src='js/RockPaperScissors.js'></script>
    <script>
      $(document).ready(function() {
        var player1 = new Player();
        var player2 = new Player();
        var game = new Game(player1, player2);

        $(document).ready(function(){
        $('.choices img').mouseenter(function(){
        $('.choices img').fadeTo('slow',1);
         });
        });

        $( "#helloBtn" ).click(function() {
          alert( "Welcome to a game" );
        });
        $('.choices img').click(function() {
          var randomPick = player2.randomPick();
          

          player1.picks($(this).data('name'));
          player2.picks(randomPick);

          $("#yourchoice").html(randomPick);
          $("#mychoice").html($(this).data('name'));
          $("#result").html(game.winner());

          //$('body').hide().fadeIn(3000);

          // alert('You picked ' + );
        });
      });
    </script>
  </body>
</html>